.fixeddata{
  display: flex;
  flex-wrap: wrap;
  /* border-bottom: 1px solid rgb(229, 224, 224); */
  box-sizing: border-box;
}
.fixeddata div{
    display: flex;
    flex-direction: column;
    width: 47%;
    height: 200px;
    margin: 6px;
    box-shadow: 2px 4px 4px rgb(215, 215, 215),-1px 0 .4em rgb(223, 222, 222);
    /* background-color: rgb(248, 252, 250); */
}
.q-1,.q-2,.q-3,.q-4{
    justify-content: center;
    align-items: center;
}
