.write{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background-color:rgba(244, 245, 246, 0.863);
}
.write_blog{
    margin-top: 3%;
    width: 50%;
    background: white;
    box-shadow: 2px 5px 5px rgb(215, 215, 215),-1px 0 .6em rgb(223, 222, 222);
    padding: 30px;
    border: 1px solid black;
    border-radius: 5px;
}
.write_blog input{
    width: 100%;
    margin: 15px 0px;
    font-size: 20px;
    padding: 5px 0px;
    color: black;
    border:none;
    border-bottom: 1px solid black;
}
textarea{
    width: 100%;
    height: 200px;
    /* border:none */
}
.post{
    background-color: rgb(10, 10, 8);
    border-radius: 20px;
    padding: 5px 30px;
    color: white;
}